* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em 5em;
  align-items: center;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 1em;
}
.usuario img {
  width: 53px;
  height: 50px;
  border: 2px solid #dcb6f8;
  border-radius: 50%;
}

.usuario span {
  color: #502b6b;
}

.linksNavbar {
  display: flex;
  gap: 4em;
}
.linksNavbar a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}

.produtoresgatado {
  display: flex;
  justify-content: center;
}

.imagem-groot img {
  width: 60%;
  margin: 0 auto;
}

.informacoes-produto {
  display: flex;
}
.imagem-produto {
  width: 100px;
}
